     .important{
                font-size: 30px;
                color: #79ca43;
                font-stlye: italic;
            }



#box1 {
    background-color: yellow;
    border: 10px solid red;
    height: 100px;
    width: 200px;
    margin-left: 60px;
    padding-top: 100px ;
}


#box2 {
   background-color: yellow;
    border: 10px solid red;
    height: 100px;
    width: 200px;
    margin-left: 60px;
    padding-top: 100px ;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}