@import url('https://fonts.googleapis.com/css?family=Lato');



body {
    background-color :#f2f2f2;
    margin: 0;
    font-family:'Lato', sans-serif;
}

*{
    outline: 1px solid lime;
}

#header {
    background-color: 2d303a;
    height: 90px;
    color: white;
    border-bottom: solid 6px #505a81;
    
}
.nav {
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px auto;
        
}

.logo {
        margin-top: 35px;
        font-size: 1.4rem;
        
}

.links {
    margin-top: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: #666d89;
}

.links a {
        color:white;
        text-decoration: none;
        padding: 0 10px;
    text-align: right;
    
}
.salmon {
    color: #f06c64;
}



.banner {
    text-align: center;
    background-color: #f06c64;
}

. banner img {
    max-width: 780px;
        width; 90%;
    
}

@media screen and (max-width: 480px) {
    body {
        background-color : green;}
   .logo {
        margin-top: 20px;
       text-align: center; 
       grid-column: 1/3;
    }
    .links {
        grid-column: 1/3;
        margin-top: 10px;
        text-align: center;
    
}